@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Formula 1';
    src: url('../fonts/Formula1-Regular-1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cascadia';
    src: url('../fonts/Cascadia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-1: #FFFFFF;
    --background-2: #F8F9FA;
    --background-3: #272535;
    --background-4: #1E1F29;
    --background-5: #14141E;
    --background-6: #121417;
    --background-7: #0D0D11;
    --background-8: #000000;
    --background-9: #202020;
    --background-10: #FBF7F7;
    --background-11: #272822;
    --background-12: #111317;
    --background-13: #292D3E;
    --background-14: #e9dbdb;

    --color-1: #FFFFFF;
    --color-2: #E61A4F;
    --color-3: #911444;
    --color-4: #195AA6;
    --color-5: #CFCFD2;
    --color-6: #646464;
    --color-7: #7C828D;
    --color-8: #292D34;
    --color-9: #000000;
    --color-10: #666f8d;
    --color-11: #272822;
    --color-12: #1E1F29;
    --color-13: #007bff;
    --color-14: #666F8D;
    --color-15: #DCE9FF;
    --color-16: #5F58FF;
    --color-17: #D438BD;
    --color-18: #5BD9EF;
    --color-19: #AE76C6;
    --color-20: #E6DB74;
    --color-21: #32C766;
    --color-22: #145C33;
    --color-23: #62C4F3;
    --color-24: #605FFF;

    --position-triangle: -310px;

    --border-radius-1: 5px;
    --border-radius-2: 15px;
    --border-radius-3: 25px;

    --difficult-1: #62C4F3;
    --difficult-2: #32C766;
    --difficult-3: #E6DB74;
    --difficult-4: #5F58FF;
    --difficult-5: #E61A4F;
}

body {
    width: 100%;
    font-family: 'Formula 1', sans-serif;
    overflow-x: hidden;
    background-color: var(--background-2);
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

a {
    text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
    background-color: var(--background-10);
}

nav {
    position: fixed;
    width: 100%;
    background-color: var(--background-1);
    display: grid;
    z-index: 100000;
}

.alternative-h1 {
    display: none;
}

.lateral-menu-button,
.lateral-menu {
    display: none;
}

.nav-info-top {
    width: 80%;
    height: 49px;
    margin: auto;
}

.nav-info-top ul li {
    list-style-type: none;
    margin-top: 8.5px;
    padding: 8px 10px;
    float: right;

    color: var(--color-6);
    font-weight: bold;
    font-size: 12px;
}

.nav-info-top ul li a {
    position: relative;
    text-decoration: none;
    color: var(--color-6);
    padding-bottom: 5px;
    transition: all 300ms;
}

.nav-info-top ul li a:hover {
    color: var(--color-2);
    transition: all 300ms;
}

.nav-info-top ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    /* Ajusta esta propiedad según el grosor del borde que desees */
    width: 0;
    height: 2px;
    /* Grosor del borde */
    background-color: var(--color-2);
    /* Color del borde */
    transition: width 0.3s ease;
    /* Agrega una transición para el efecto suave */
}

.nav-info-top ul li a:hover::after {
    width: 100%;
    /* Ancho completo cuando se realiza el hover */
}

.button-selected-1 {
    border-radius: 10px;
    border: 1px solid var(--color-2);
    padding: 5px 20px;
    color: var(--color-1);
    background-color: transparent;
    transition: all 300ms;
}

.button-1 {
    border-radius: 10px;
    border: 1px solid var(--color-6);
    margin-top: -15px;
    padding: 5px 20px;
    transition: all 300ms;
    background-color: var(--color-1);
}

.button-1:hover {
    border: 1px solid var(--color-2);
    transition: all 300ms;
    color: var(--color-2);
    cursor: pointer;
}

.button-2 {
    border-radius: 50px;
    border: 1.5px solid var(--color-6);
    background-color: transparent;
    color: var(--color-1);
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px;
    transition: all 300ms;
}

.button-2:hover {
    border: 1.5px solid var(--color-1);
    background-color: rgba(255, 255, 255, .10);
    transition: all 300ms;
}

.button-3 {
    border-radius: 3.5px;
    border: none;
    background-color: var(--background-1);
    color: var(--color-9);
    width: 100%;
    font-size: 15px;
    padding: 20px 40px;
    transition: all 300ms;
}

.button-3:hover {
    background-color: var(--color-5);
    cursor: pointer;
    transition: all 300ms;
}

.button-4 {
    border-radius: 10px;
    border: 1px solid var(--color-3);
    color: var(--color-1);
    background-color: var(--color-2);
    margin-top: -15px;
    padding: 5px 20px;
    transition: all 300ms;
}

.button-4:hover {
    border: 1px solid var(--color-2);
    color: var(--color-2);
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
}

.button-5 {
    border-radius: 4px;
    border: 2.5px solid var(--color-3);
    color: var(--color-1);
    font-size: 14px;
    font-weight: bolder;
    background-color: var(--color-2);
    padding: 15px 30px;
    box-shadow: 0px 10px 25px #e6114d4f;
    transition: all 300ms;
}

.button-5:hover {
    border: 2.5px solid var(--color-2);
    color: var(--color-2);
    font-size: 14.5px;
    background-color: var(--background-1);
    cursor: pointer;
    transition: all 300ms;
}

.button-6 {
    border-radius: 4px;
    border: 2.5px solid var(--color-2);
    color: var(--color-2);
    font-size: 14px;
    font-weight: bolder;
    margin-top: -15px;
    padding: 15px 30px;
    box-shadow: 0px 10px 25px #e6114d4f;
    transition: all 300ms;
    background-color: var(--background-1);
}

.button-6:hover {
    font-size: 15px;
    transition: all 300ms;
    cursor: pointer;
}

.button-7 {
    border-radius: 8px;
    border: 2px solid var(--color-1);
    color: var(--color-16);
    font-size: 15px;
    font-weight: bolder;
    padding: 2.5px 40px;
    box-shadow: 0px 10px 25px hsla(0, 0%, 0%, 0.25);
    transition: all 300ms;
    background-color: var(--background-1);
}

.button-7:hover {
    background-color: transparent;
    color: var(--color-1);
    transition: all 300ms;
    cursor: pointer;
}

.button-8 {
    border-radius: 8px;
    border: 2px solid var(--color-9);
    color: var(--color-1);
    font-size: 15px;
    font-weight: bolder;
    padding: 15px 40px;
    box-shadow: 0px 10px 25px hsla(0, 0%, 0%, 0.25);
    transition: all 300ms;
    background-color: var(--background-8);
}

.button-8:hover {
    /* background-color: transparent; */
    background-color: var(--background-1);
    color: var(--color-2);
    border: 2px solid var(--color-2);
    transition: all 300ms;
    cursor: pointer;
}


.button-9 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    border: none;
    background-color: var(--color-13);
    color: var(--color-1);
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s;
}

.button-9:hover {
    background-color: var(--color-4);
    transition: all .3s;
}

.button-10 {
    border-radius: 10px;
    border: 1px solid var(--color-3);
    color: var(--color-1);
    background-color: var(--color-2);
    padding: 5px 20px;
    transition: all 300ms;
}

.button-10:hover {
    border: 1px solid var(--color-2);
    color: var(--color-1);
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
}

.button-11 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    border: none;
    background-color: var(--color-21);
    color: var(--color-1);
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s;
}

.button-11:hover {
    background-color: var(--color-22);
    transition: all .3s;
}

.button-12 {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: var(--color-2);
    color: var(--color-1);
    border: 2.5px solid var(--color-2);
    border-radius: var(--border-radius-1);
    transition: all .3s;
}

.button-12:hover {
    background-color: transparent;
    color: var(--color-2);
    transition: all .3s;
}

.button-13 {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: transparent;
    color: var(--color-2);
    border: 2.5px solid var(--color-2);
    border-radius: var(--border-radius-1);
    transition: all .3s;
}

.button-13:hover {
    background-color: transparent;
    font-size: 18px;
    transition: all .3s;
}

.button-15 {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: transparent;
    color: var(--color-1);
    border: 2.5px solid var(--color-1);
    border-radius: var(--border-radius-1);
    transition: all .3s;
}

.button-15:hover {
    background-color: var(--background-1);
    color: var(--color-2);
    border: 2.5px solid var(--color-2);
    transition: all .3s;
}

.nav-info-bottom {
    width: 100%;
    height: auto;
    background-color: var(--background-5);
    border-bottom: 1.5px solid var(--color-6);
}

.info-bottom {
    width: 80%;
    height: 72px;
    margin: auto;
    display: flex;
}

.separador-nav {
    width: 100%;
    height: 114px;
}

.logo-container {
    width: 300px;
    padding: 15px;

    font-size: 28px;
    transition: all 300ms;
}

.logo-container:hover {
    font-size: 30px;
}

.logo-container-span {
    display: flex;
    align-items: center;
}

.logo-nav-bar {
    width: 35px;
    height: auto;
    margin-top: 2.5px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.logo-container:hover .logo-nav-bar {
    transform: scale(1.1);
    transition: transform 0.3s;
}

#hello-world {
    color: white;
    font-family: 'Formula 1', sans-serif;
}

.info-bottom ul li {
    list-style-type: none;
    display: inline;
    margin-top: 12px;
    padding: 12px 20px;
    float: left;

    color: var(--color-1);
    font-weight: normal;
    font-size: 16px;
}

.info-bottom ul li a {
    text-decoration: none;
    color: var(--color-1);
    padding-bottom: 5px;
    transition: all 300ms;
}

.bottom-buttons ul li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    padding: 5px 10px;
    position: relative;
}

.bottom-buttons ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-1);
    transition: width 0.3s ease;
}

.bottom-buttons ul li:hover::after {
    width: 100%;
}

.triangle {
    color: var(--background-5);
    float: right;
    margin-top: 40px;
    margin-right: var(--position-triangle);
}

@media (max-width: 1000px) {

    .nav-info-top,
    .bottom-buttons {
        display: none;
        transition: all 300ms;
    }

    .separador-nav {
        width: 100%;
        height: 72px;
    }

    .logo-container {
        width: auto;
        margin: auto;
        font-size: 25px;
        transition: all 300ms;
    }

    .lateral-menu-button {
        display: grid;
        position: absolute;
        top: -70px;
        left: 35px;
    }

    .lateral-menu-container ul li a {
        position: relative;
    }

    .lateral-menu-container ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 2px;
        background-color: var(--color-1);
        transition: width 0.3s ease;
    }

    .lateral-menu-container ul li a:hover::after {
        width: calc(100% + 15px);
    }

    .menu-toggle {
        height: 20px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        margin: 95px auto;
        width: 30px;
        z-index: 10;
    }

    .menu-toggle:hover {
        color: var(--color-1);
    }

    .menu-toggle i,
    .menu-toggle i:after,
    .menu-toggle i:before {
        display: block;
        position: absolute;
        height: 3px;
        width: 30px;
        right: 0;
        background: var(--color-1);
        border-radius: 2px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .menu-toggle i:after,
    .menu-toggle i:before {
        content: '';
    }

    .menu-toggle i:after {
        top: -10px;
    }

    .menu-toggle i:before {
        top: 10px;
    }

    .menu-toggle i {
        top: 10px;
    }

    .menu-toggle.open i {
        top: 32px;
        background: var(--color-2);
    }

    .menu-toggle.open i:after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -22px;
        background: var(--color-2);
    }

    .menu-toggle.open i:before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -22px;
        background: var(--color-2);
    }

    .link-container {
        text-align: center;
    }

    .modal-background {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        transition: background-color 0.3s ease;
    }

    .lateral-menu {
        position: fixed;
        display: block;
        top: 70px;
        left: -375px;
        width: 375px;
        height: calc(100vh - 70px);
        background-color: var(--background-5);
        transition: left 0.3s ease;
        z-index: 11;
    }


    .menu-open {
        left: 0;
    }

    .lateral-menu-container {
        width: 90%;
        margin: auto;
        margin-top: 15px;
        font-size: 16px;
    }

    .lateral-menu-container ul li {
        list-style-type: none;
        padding: 12.5px 0;
    }

    .lateral-menu-container ul li a {
        color: white;
    }
}

@media (max-width: 400px) {
    .logo-container {
        font-size: 20px;
        margin-right: -35px;
    }

    .lateral-menu-button {
        display: grid;
        position: absolute;
        top: -70px;
        left: 10px;
    }

    .menu-toggle {
        height: 20px;
        margin: 100px auto;
    }

    .menu-toggle:hover {
        color: var(--color-1);
    }

    .menu-toggle i,
    .menu-toggle i:after,
    .menu-toggle i:before {
        height: 2px;
        width: 20px;
    }

    .menu-toggle i:after {
        top: -7.5px;
    }

    .menu-toggle i:before {
        top: 7.5px;
    }

    .menu-toggle i {
        top: 7.5px;
    }

    .menu-toggle.open i {
        top: 20px;
        background: var(--color-2);
    }

    .menu-toggle.open i:after {
        top: -16px;
    }

    .menu-toggle.open i:before {
        top: -16px;
    }

    .lateral-menu {
        left: -100%;
        width: 100%;
    }

    .menu-open {
        left: 0;
    }
}

.main-container {
    width: 100%;
    overflow-x: hidden;
    height: auto;
}

.landing-page-head {
    display: grid;
    grid-template-columns: 60% 55%;
    gap: 20px;

    margin: auto;
    width: 1200px;
    height: auto;
}

.landing-title {
    padding-top: 145px;
}

.center-text {
    text-align: center;
}

.h1-f1,
.h2-f1,
.h3-f1,
.h4-f1,
.h5-f1 {
    font-family: 'Formula 1', sans-serif;
    color: var(--color-8);
    font-weight: bolder;
}

.h1-f1 {
    font-size: 40px;
}

.h2-f1 {
    font-size: 30px;
}

.h3-f1 {
    font-size: 20px;
}

.h1-inter,
.h2-inter,
.h3-inter,
.h4-inter,
.h5-inter {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    color: var(--color-8);
}

.h1-inter {
    font-size: 50px;
}

.pd-h1 {
    padding: 20px 0 45px 0;
}

.container-objetivo {
    margin-top: 23px;
    font-family: 'Helvetica', Arial;
    color: var(--color-7);
    font-size: 18px;
    line-height: 29px;
    width: 410px;
    height: auto;
}

.landing-head-info-buttons {
    margin-top: 23px;
}

.landing-ide {
    background-color: var(--color-11);
    border-radius: var(--border-radius-2);
    box-shadow: 0px 6px 4px #00000046;

    margin-top: 65px;
    
    justify-content: space-between;
    
    font-family: 'Cascadia', monospace;
    font-size: 16px;
}

.header-ide {
    background-color: var(--background-9);
    height: 52px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    border: 1px solid var(--color-7);
}

.container-title-header-ide {
    display: flex;
    width: 95%;
    height: 100%;
    margin: auto;

    align-items: center;
}

.container-title-header-ide img {
    height: 20px;
    width: auto;
    object-fit: cover;
}

.header-ide-grid-container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;

    align-items: center;
}

.assistant-button-container {
    display: flex;
}

.sample-terminal-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sample-terminal-title {
    margin-right: auto;
}

.sample-terminal-run-time,
.sample-terminal-run {
    margin-left: auto;
}


.header-ide-title {
    font-family: 'Cascadia';
    color: var(--color-1);
    font-size: 16px;
    padding: 0 10px;
}

.header-ide-copy {
    background: transparent;
    font-family: 'Formula 1', sans-serif;
    font-size: 12px;
    color: var(--color-7);
    border: none;
    transition: all .3s;
}

.header-ide-copy:hover {
    cursor: pointer;
    color: var(--color-1);
    transition: all .3s;
}

.body-ide-580 {
    width: 100%;
    height: 580px;
    border-radius: 0 0 15px 15px;
    border: 1px solid var(--color-7);
}

.body-ide-420 {
    width: 100%;
    height: 420px;
    border-radius: 0 0 15px 15px;
    border: 1px solid var(--color-7);
}

.body-ide- {
    width: 100%;
    min-height: 600px;
    height: auto;
    max-height: 600px;
    border-radius: 0 0 15px 15px;
    border: 1px solid var(--color-7);
}

.body-ide-container {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 0 0 15px 15px;
    line-height: 1.5;
}

.section-landingpage {
    margin: auto;
    padding-top: 125px;
    width: 1200px;
    height: auto;
}

.white-text h1,
.white-text p {
    color: var(--color-1);
}

.dark-background {
    background-color: var(--background-7);
    margin-top: 125px;
    padding: 125px 0;
    color: var(--color-1);
    width: 100%;
}

.dark-background .section-landingpage {
    padding-top: 0;
}

.container-comparation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.comparation {
    border-radius: var(--border-radius-2);
    border: 1px solid var(--color-5);
    padding: 45px 50px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    background-color: var(--background-1);
}

.comparation p {
    padding: 25px 0;
    font-family: 'Helvetica', Arial;
    color: var(--color-8);
    font-size: 20px;
    line-height: 29px;

}

.comparation img {
    width: 470px;
    height: auto;
    object-fit: cover;
    margin: auto;
}

.container-sample-exercise {
    width: 100%;
    height: 650px;


    display: grid;
    grid-template-columns: calc(47% - 5px) calc(53% - 5px);
    gap: 10px;

    color: var(--color-1);
    font-family: 'Cascadia';
    font-size: 14px;
}

.header-sample-exercise {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

    width: 100%;
    height: auto;
    border-radius: var(--border-radius-2) var(--border-radius-2) 0 0;
    background-color: var(--background-9);
    border: 1px solid var(--color-6);
    padding: 9px 15px;
    align-items: center;
}

.body-ide-exercise {
    width: 100%;
    height: 550px;
    padding: 15px 25px;

    background-color: var(--color-11);
    border-radius: 0 0 var(--border-radius-2) var(--border-radius-2);
    border: 1px solid var(--color-6);

    overflow-y: scroll;
}

#code_text {
    font-size: 14px;
}

#code_text span {
    color: var(--color-21);
}

.caption-sample-exercise {
    color: var(--color-20);
}

.sample-exercise-list ul {
    list-style: none;
    padding: 0px;
    margin-left: 10px;
}

.sample-exercise-list ul li::before {
    content: "\2022";
    color: var(--color-20);
    display: inline-block;
    padding-right: 10px;
    font-size: 25px;
    line-height: 25px;
    vertical-align: -5px;
}

.code-output {
    width: 100%;
    height: auto;
    background-color: var(--background-9);
    padding: 10px 25px;
    margin-bottom: 20px;
    border-radius: var(--border-radius-2);

    font-size: 18px;
}

.terminal-border {
    border: 1px solid var(--color-6);
    border-radius: 0 0 var(--border-radius-2) var(--border-radius-2);
}

.sample-output {
    color: var(--color-1);
}

.container-sample-output-terminal {
    margin-top: 10px;
    width: 100%;
    height: 168px;

    border-radius: var(--border-radius-2);
    background-color: var(--color-11);
    border: 1px solid var(--color-6);
}

.body-terminal {
    width: 100%;
    height: 168px;
}

.container-plan-comparison {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 100%;
}

.plan-column {
    width: 380px;
    max-width: 100%;
    height: 700px;
    padding: 45px 25px;
    border-radius: var(--border-radius-2);
    background-color: var(--background-1);
    border: 1px solid var(--color-5);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.plan-content-list {
    list-style: none;
    padding: 0;
    line-height: 15px;
}

.landing-container-content {
    width: 100%;
    padding: 35px;
    overflow-x: hidden;
    background-color: var(--background-1);
    border-radius: var(--border-radius-2);
    border: 1px solid var(--color-5);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.landing-content-header {
    display: grid;
    grid-template-columns: calc(70% - 7.5px) calc(30% - 7.5px);
    gap: 15px;
}

.landing-content-body {
    display: grid;
    grid-template-columns: calc(30% - 7.5px) calc(70% - 7.5px);
    gap: 15px;
}

.landing-content-text {
    width: 100%;
    height: auto;
    overflow-y: scroll;
}

.text-content {
    height: 450px;
}

.landing-content-header-title {
    border-bottom: 4.5px solid var(--color-2);
}

.landing-content-header-buttons {
    position: relative;
}

.landing-content-header-buttons .button-6,
.landing-content-header-buttons .button-5 {
    margin-right: 15px;
    margin-top: 70px;
    padding: 10px 35px;
}

.landing-content-header-buttons .button-5:last-child {
    right: 0;
}

.landing-chapters-list {
    list-style: none;
    padding: 0;
}

.landing-chapters-list li {
    padding: 3.5px 5px;
    border-left: 3.5px solid transparent;
    transition: all .3s;
}

.landing-chapters-list li:hover,
.chapter-selected {
    border-left: 3.5px solid var(--color-2);
    transition: all .3s;
}

.landing-chapters-list li a {
    color: var(--color-8);
}

.landing-contentet-list-bottom {
    line-height: 10px;
    padding-top: 30px;
}

/*--------------------------------------------------------------------------*/
/*------------------------Login---------------------------------------------*/
/*--------------------------------------------------------------------------*/

.container-login {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    /* Espacio adicional para el pie de página */
    margin-top: 20px;
    /* Espacio adicional desde la barra de navegación */
}

.container-login-structure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login-box {
    width: 90%;
    max-width: 900px;
    height: auto;
    background-color: var(--background-1);
    border-radius: var(--border-radius-3);
    border: 1px solid var(--color-5);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container-login-form,
.gradiant-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.gradiant-login {
    background: linear-gradient(var(--color-16), var(--color-17));
    border-radius: 90px 90px var(--border-radius-3) var(--border-radius-3);
    text-align: center;
}

.gradiant-login .login-form h2 {
    color: var(--color-1);
    padding: 0;
    margin-bottom: 15px;
}

.login-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.container-info-gradiant {
    margin: auto;
    text-align: center;
    line-height: 3;
    /*tamanio de boton de registrarse*/
    font-family: "Inter", sans-serif;
    color: var(--color-1);
    font-size: 20px;
    font-weight: normal;
}

@media (min-width: 768px) {
    .container-login-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 530px;
    }

    .gradiant-login {
        border-radius: 110px var(--border-radius-3) var(--border-radius-3) 110px;
    }
}

/* Custom styles for the login form */
.login-form .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}


/*--------------------------------------------------------------------------*/
/*------------------------Sing up2---------------------------------------*/
/*--------------------------------------------------------------------------*/


.container-login2 {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    /* Espacio adicional para el pie de página */
    margin-top: 20px;
    /* Espacio adicional desde la barra de navegación */
}

.container-login-structure2 {
    width: 100%;
    height: auto;
    /* Ajustar para permitir crecimiento */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login-box2 {
    width: 90%;
    max-width: 900px;
    height: auto;
    /* Ajustar para permitir crecimiento */
    background-color: var(--background-1);
    border-radius: var(--border-radius-3);
    border: 1px solid var(--color-5);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container-login-form2,
.gradiant-login2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.gradiant-login2 {
    background: linear-gradient(var(--color-16), var(--color-17));
    border-radius: var(--border-radius-3);
    text-align: center;
}

.login-form2 {
    width: 100%;
    max-width: 400px;
    margin: auto;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.container-info-gradiant2 {
    margin: auto;
    text-align: center;
    line-height: 3;
    /* tamaño del botón de registrarse */
    font-family: "Inter", sans-serif;
    color: var(--color-1);
    font-size: 20px;
    font-weight: normal;
}

@media (min-width: 768px) {
    .container-login-box2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        /* Permitir que crezca automáticamente */
    }

    .gradiant-login2 {
        border-radius: 110px var(--border-radius-3) var(--border-radius-3) 110px;
    }
}

.gradiant-sing-up {
    background: linear-gradient(var(--color-16), var(--color-17));
    border-radius: var(--border-radius-3) 110px 110px var(--border-radius-3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container-info-gradiant-sing-up {
    margin: auto;
    width: 100%;
    text-align: center;
    line-height: 45px;
    font-family: "Inter", sans-serif;
    color: var(--color-1);
    font-size: 20px;
    font-weight: normal;
    display: grid;
    gap: 10px;
}

.sing-up-container-plan {
    width: 100%;
    height: auto;
}

.sing-up-checkable-button {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 15px;
    cursor: pointer;
    background-color: var(--background-1);
    border-radius: var(--border-radius-2);
    border: 3.5px solid var(--background-1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    transition: all .3s;
    text-align: left;
}

.sing-up-checkable-button:hover,
.sing-up-checkable-button:hover h3,
.sing-up-checkable-button:hover p,
.sing-up-checkable-button:hover div .custom-switch {
    background-color: transparent;
    color: var(--color-1);
    border-color: var(--color-1);
    transition: all .3s;
}

.sing-up-checkable-button h3 {
    color: var(--color-2);
}

.sing-up-checkable-button.selected {
    border: 3.5px dashed var(--background-1);
    background-color: transparent;
    color: var(--color-1);
    transition: all .3s;
}

.checkable-text {
    color: var(--color-2);
    font-size: 13px;
    line-height: 14px;
}

.form-switch {
    padding: 0;
}

/* Custom switch styles */
.custom-switch {
    background-color: var(--color-2);
    border-radius: 50px;
    border-color: var(--color-2);
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.custom-switch::before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.3s;
}

.custom-switch:checked {
    background-color: var(--color-2);
    border-color: var(--color-2);
}

.custom-switch:focus {
    border-color: #c50031;
    box-shadow: 0 0 0 .25rem #fd0d4940;
}

.custom-switch:checked::before {
    transform: translateX(20px);
}

/* Add some margin to the switch */
.form-check-input.custom-switch {
    margin-left: 0;
    margin-right: 0;
}

.sing-up-checkable-button.selected h3,
.sing-up-checkable-button.selected .checkable-text,
.sing-up-checkable-button.selected div .custom-switch {
    background-color: transparent;
    color: var(--color-1);
    border-color: var(--color-1);
}

.sing-up-checkable-button.selected div .custom-switch:focus {
    border-color: var(--background-1);
    box-shadow: 0 0 0 .25rem #ffffff40;
}

.more-info-sing-up {
    height: 25px;
    margin-top: -10px;
    font-size: 13px;
    transition: all .3s;
}

.more-info-sing-up a {
    text-decoration: solid;
    color: var(--color-1);
    border-bottom: 1px solid var(--color-1);
}

.more-info-sing-up a:hover {
    font-size: 13.9px;
    transition: all .3s;
}

.container-login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.form-control {
    width: 100%;
    box-sizing: border-box;
}

.custom-floating-textarea textarea {
    height: auto !important;
}

@media (max-width: 768px) {
    .col-md-6 {
        width: 100%;
        margin: 0;
    }

    .gradiant-sing-up {
        border-radius: var(--border-radius-3) var(--border-radius-3) 90px 90px;
    }
}

/* Estilo para el placeholder del campo de contraseña */
.form-floating input::placeholder {
    font-size: 14px;
    /* Ajusta el tamaño de la fuente */
    color: #6c757d;
}

.form-floating label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

/* Asegurar que los campos de entrada tienen suficiente padding */
.form-floating input {
    padding: 10px 12px;
    /* Ajusta el padding según sea necesario */
}


/*--------------------------------------------------------------------------*/
/*------------------------Recuperar contraseña------------------------------*/
/*--------------------------------------------------------------------------*/

.container-recovery {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.container-recovery .input-recovery {
    margin: 20px 5px;
    margin-bottom: 40px;
    height: 60px;
    text-align: center;

    background-color: transparent;
    border-radius: var(--border-radius-1);
    border: 2.5px solid var(--color-1);

    font-family: 'Formula 1', sans-serif;
    font-size: 20px;

    color: var(--color-1);
}

.input-recovery::placeholder {
    font-family: 'Formula 1', sans-serif;
    font-size: 20px;

    color: var(--color-1);
}

.input-recovery::-webkit-inner-spin-button,
.input-recovery::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-recovery {
    -moz-appearance: textfield;
}

/*--------------------------------------------------------------------------*/
/*------------------------Cambiar Contraseña--------------------------------*/
/*--------------------------------------------------------------------------*/

.container-li-password {
    padding: 25px 15px;
    text-align: left;
    list-style-position: outside;
}

/*--------------------------------------------------------------------------*/
/*------------------------           ---------------------------------------*/
/*--------------------------------------------------------------------------*/

@keyframes moveUpDown {
    0% {
        transform: translateY(-50px) rotate(-35deg);
    }

    50% {
        transform: translateY(50px) rotate(0deg);
    }

    100% {
        transform: translateY(-50px) rotate(35deg);
    }
}

#square-1,
#square-2,
#square-4,
#square-5,
#square-6 {
    position: fixed;
    z-index: -1;
    pointer-events: none;
}

#square-1 {
    width: 930.3px;
    height: auto;
    top: -100px;
    right: -400px;
    filter: drop-shadow(2px 2px 12px rgba(0, 0, 0, 0.7));
    animation: moveUpDown 7s ease-in infinite alternate;
}

#square-2 {
    width: 600px;
    height: auto;
    top: -50px;
    left: -350px;
    filter: drop-shadow(2px 2px 12px rgba(0, 0, 0, 0.7));
    animation: moveUpDown 8s ease-out infinite alternate;
}

#square-3 {
    pointer-events: none;
    position: absolute;
    width: 188.5px;
    height: auto;
    top: 600px;
    left: 45%;
    filter: drop-shadow(2px 2px 12px rgba(0, 0, 0, 0.7));
    animation: moveUpDown 9s ease infinite alternate;
}

#square-4 {
    width: 590px;
    height: auto;
    top: -20px;
    left: -200px;
    filter: drop-shadow(2px 2px 12px rgba(0, 0, 0, 0.7));
    animation: moveUpDown 7s ease-in infinite alternate;
}

#square-5 {
    width: 390px;
    height: auto;
    bottom: -20px;
    right: -50px;
    filter: drop-shadow(2px 2px 12px rgba(0, 0, 0, 0.7));
    animation: moveUpDown 8s ease-out infinite alternate;
}

#square-6 {
    display: none;

    width: 600px;
    height: auto;
    bottom: -350px;
    left: -250px;
    filter: drop-shadow(2px 2px 12px rgba(0, 0, 0, 0.7));
    animation: moveUpDown 8s ease-out infinite alternate;
}

footer {
    font-family: 'Helvetica', Arial;
    background-color: var(--background-7);
    width: 100%;
    height: auto;
    line-height: 24px;
    padding: 60px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: 300px 330px 1fr;
    column-gap: 40px;
    padding: 0 80px;
    height: auto;
}

.footer-column {
    color: var(--color-1);
    border-radius: 5px;
}

.footer-column ul li {
    list-style-type: none;
}

.footer-column ul li a,
.footer-column a {
    color: var(--color-1);
    transition: all 300ms;
}

.footer-column ul li a:hover,
.footer-column a:hover {
    color: var(--color-2);
    transition: all 300ms;
}

.row-social {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.row-social button {
    font-size: 20px;
    padding: 17px 23px;
}

@media(max-width: 1000px) {
    .f-del {
        display: none;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 300px 300px;
        column-gap: 40px;
        padding: 0 20px;
        height: auto;
    }
}

@media(max-width: 740px) {

    .footer-container {
        grid-template-columns: 1fr;
    }

    .row-social {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    .nb {
        font-size: 16px;
        width: 64px;
        height: 64px;
        font-size: 15px;
        padding: 0;
        margin: 0;

    }

    .footer-column {
        margin-bottom: 25px;
    }
}

.mg-top-5 {
    margin-top: 5px;
}

.mg-top-15 {
    margin-top: 15px;
}

.mg-top-25 {
    margin-top: 25px;
}

.mg-top-50 {
    margin-top: 50px;
}

.mg-top-75 {
    margin-top: 75px;
}

.mg-bottom-5 {
    margin-bottom: 5px;
}

.mg-bottom-15 {
    margin-bottom: 15px;
}

.mg-bottom-25 {
    margin-bottom: 25px;
}

.mg-bottom-50 {
    margin-bottom: 50px;
}

.mg-bottom-75 {
    margin-bottom: 75px;
}

.mg-right-15 {
    margin-right: 15px;
}

.mg-right-25 {
    margin-right: 25px;
}

.mg-right-50 {
    margin-right: 50px;
}

.mg-right-75 {
    margin-right: 75px;
}

.pd-top-25 {
    padding-top: 25px;
}

.pd-top-50 {
    padding-top: 50px;
}

.box-s-25 {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius-2);
}

.ff-Arial {
    font-family: Arial !important;
}

.ff-Helvetica {
    font-family: 'Helvetica', Arial !important;
}

.ff-Formula-1 {
    font-family: 'Formula 1', sans-serif !important;
}

.ff-Cascadia {
    font-family: 'Cascadia' !important;
}

.ff-Inter {
    font-family: "Inter", sans-serif !important;
}

.fw-normal {
    font-weight: normal !important;
}

.fw-bold {
    font-weight: bold !important;
}

.fw-bolder {
    font-weight: bolder !important;
}

.lh-1 {
    line-height: 1 !important;
}

.lh-1-5 {
    line-height: 1.5 !important;
}

.lh-2 {
    line-height: 2 !important;
}

.lh-3 {
    line-height: 3 !important;
}

.border-selected-1 {
    border: 7.5px solid var(--color-2);
}

/*------------------------- Fondos y Colores -------------------------------*/
.bg-1 {
    background-color: var(--background-1);
}

.bg-2 {
    background-color: var(--background-2);
}

.bg-3 {
    background-color: var(--background-3);
}

.bg-4 {
    background-color: var(--background-4);
}

.bg-5 {
    background-color: var(--background-5);
}

.bg-6 {
    background-color: var(--background-6);
}

.bg-7 {
    background-color: var(--background-7);
}

.bg-8 {
    background-color: var(--background-8);
}

.bg-9 {
    background-color: var(--background-9);
}

.bg-10 {
    background-color: var(--background-10);
}

.bg-11 {
    background-color: var(--background-11);
}

.color-1 {
    color: var(--color-1);
}

.color-2 {
    color: var(--color-2);
}

.color-3 {
    color: var(--color-3);
}

.color-4 {
    color: var(--color-4);
}

.color-5 {
    color: var(--color-5);
}

.color-6 {
    color: var(--color-6);
}

.color-7 {
    color: var(--color-7);
}

.color-8 {
    color: var(--color-8);
}

.color-9 {
    color: var(--color-9);
}

.color-10 {
    color: var(--color-10);
}

.color-11 {
    color: var(--color-11);
}

.color-12 {
    color: var(--color-12);
}

.color-13 {
    color: var(--color-13);
}

.color-14 {
    color: var(--color-14);
}

.color-15 {
    color: var(--color-15);
}

.color-16 {
    color: var(--color-16);
}

.color-17 {
    color: var(--color-17);
}

.color-18 {
    color: var(--color-18);
}

.color-19 {
    color: var(--color-19);
}

.color-20 {
    color: var(--color-20);
}

.color-21 {
    color: var(--color-21);
}

.color-22 {
    color: var(--color-22);
}

.color-23 {
    color: var(--color-23);
}

.color-24 {
    color: var(--color-24);
}

.li-separation-bar-1 {
    border-top: 2px solid var(--color-5);
    margin-bottom: 20px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12-5 {
    font-size: 12.5px;
}

.fs-13-5 {
    font-size: 13.5px;
}

.fs-15 {
    font-size: 15px;
}

.fs-17-5 {
    font-size: 17.5px;
}

.fs-20 {
    font-size: 20px;
}

/*--------------------------------------------------------------------------*/
/*------------------------Vista Blog------------------------------*/
/*--------------------------------------------------------------------------*/

/* Espaciado entre secciones */
.section-spacing {
    margin-bottom: 50px;
}

/* Sección 1 */
.lifetime-update-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    /* Sombra más intensa */
    margin-top: 40px;
    /* espacio entre barra de navegacion*/
}

.update-content {
    max-width: 50%;
}

.update-content h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.update-content p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 30px;
}

.purchase-button {
    display: inline-block;
    background-color: #E61A4F;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.purchase-button:hover {
    border: 1px solid var(--color-2);
    color: var(--color-2);
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
}

.update-images {
    max-width: 40%;
}

.update-images img {
    width: 100%;
}

@media (max-width: 1024px) {

    /* Responsividad */
    .lifetime-update-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .update-content,
    .update-images {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .lifetime-update-section {
        padding: 30px;
    }

    .update-content h2 {
        font-size: 2em;
    }

    .update-content p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .lifetime-update-section {
        padding: 20px;
    }

    .update-content h2 {
        font-size: 1.5em;
    }

    .update-content p {
        font-size: 0.9em;
    }
}

.purchase-button {
    display: inline-block;
    background-color: #E61A4F;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.purchase-button:hover {
    border: 1px solid var(--color-2);
    color: var(--color-2);
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms;
}

@media (max-width: 1024px) {

    /* Responsividad */
    .post-info2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .post-info2 img,
    .post-info2 h1,
    .purchase-button {
        margin-bottom: 20px;
        text-align: center;
    }

    .post-info2 img {
        width: 10%;
    }
}

@media (max-width: 1650px) {
    .landing-page-head {
        width: 90%;
        grid-template-columns: 50% 50%;
        gap: 0px;
    }

    #square-2 {
        display: none;
    }

    #square-6 {
        display: flex;
    }

    #square-3 {
        top: 750px;
        left: 550px;
    }
}

@media (max-width: 1350px) {
    .landing-title {
        padding: 85px 30px 0 0;
    }
}

@media (max-width: 1300px) {
    .section-landingpage {
        width: 80%;
    }

    .container-comparation {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .comparation {
        display: grid;
    }

    .comparation img {
        margin: auto;
        width: 600px;
    }

    .landing-content-header-buttons .button-6,
    .landing-content-header-buttons .button-5 {
        margin-top: 15px;
        width: 100%;
    }
}

@media (max-width: 1125px) {
    .body-ide-580 {
        height: 100%;
    }

    .landing-ide {
        height: 500px;
    }

    #square-3 {
        top: 300px;
        left: auto;
        right: 10%;
        z-index: -1;
    }

    #square-1 {
        display: none;
    }

    .landing-page-head {
        width: 80%;
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .landing-title {
        padding: 50px 0px;
        display: grid;
    }

    .landing-ide {
        margin: 20px 0px;
    }

    .section-landingpage {
        padding-top: 90px;
    }

    .comparation img {
        width: 470px;
    }

    .container-sample-exercise {
        height: auto;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 750px) {

    .landing-page-head,
    .section-landingpage {
        width: 95%;
    }

    .landing-title {
        width: 80%;
        margin: auto;
    }

    #square-3 {
        display: none;
    }

    #square-1 {
        display: flex;
        top: -150px;
        right: -100px;

        width: 300px;
    }

    #square-6 {
        width: 400px;
        bottom: -200px;
        left: -100px;
    }

    .landing-title .landing-title-h1 {
        display: none;
    }

    .landing-title .alternative-h1 {
        display: block;
        text-align: center;
    }

    .container-objetivo {
        font-size: 20px;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .landing-head-info-buttons {
        margin: auto;
        margin-top: 50px;
    }

    .comparation img {
        width: 100%;
    }
}

@media (max-width: 660px) {
    .container-content button {
        width: 100%;
    }

    .landing-content-body,
    .landing-content-header {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .landing-contentet-list-bottom {
        display: none;
    }
}

@media (max-width: 600px) {
    .plan-column {
        width: 100%;
    }

    .header-ide {
        padding: 10px 0px;
        height: auto;
    }
}

@media (max-width: 550px) {
    .h1-inter {
        font-size: 35px;
    }

    .landing-head-info-buttons {
        display: grid;
        width: 100%;
        margin-top: 10px;
    }

    .landing-head-info-buttons button {
        margin: 10px 0px;
    }

    .comparation {
        padding: 20px;
    }

    .comparation .learn-with-hello-world {
        padding: 0;
        margin-top: -35px;
    }
}

@media (max-width: 475px) {
    .none-475 {
        display: none;
    }

    .landing-ide {
        width: 95vw;
    }
}

@media (max-width: 410px) {

    .header-ide-grid-container,
    .header-sample-exercise {
        grid-template-columns: 1fr;
    }

    .assistant-button-container {
        display: none;
    }
}

.option-locked,
.option-locked a,
.option-locked p,
.option-locked i,
.option-locked b,
.option-locked span,
.option-locked h1,
.option-locked h2,
.option-locked h3,
.option-locked h4,
.option-locked h5,
.option-locked h6 {
    color: var(--color-5);
    cursor: not-allowed;
}

.dark-mode {
    background-color: var(--background-7);
}

.dashboard-container #container {
    padding: 15px 10px 10px 10px;
}

#container {
    display: flex;
    width: 100%;
    height: 87vh;
    font-family: 'Cascadia', monospace;
    font-size: 16px;
}

#panel-left,
#panel-top,
#panel-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--background-11);
    color: #ffffff;
}

.panel-header {
    display: flex;
    align-items: center;
    background-color: var(--background-9);
    border-bottom: 1px solid #333;
    border-radius: var(--border-radius-2) var(--border-radius-2) 0 0;
    color: var(--color-1);
    flex-shrink: 0;
    overflow-x: auto;
    white-space: nowrap;
    padding: 3.75px 5px;
}

.panel-content {
    flex-grow: 1;
    overflow: auto;
}

#panel-left .panel-content,
#panel-bottom .panel-content {
    padding: 10px 10px;
}

#panel-left {
    height: 100%;
}

#panel-left .panel-content {
    font-family: "Roboto", sans-serif;
}

#code-editor {
    width: 100%;
    height: 100%;
}

#panel-top .panel-content {
    border-radius: 0 0 var(--border-radius-2) var(--border-radius-2);
}

.exercise-panel {
    border-radius: var(--border-radius-2);
    background-color: var(--background-12);
    border: 1px solid #333;

    width: 100%;
    height: 100%;
}


#panel-bottom .panel-header,
#panel-top .panel-header {
    display: flex;
    justify-content: space-between;
}

#panel-bottom .panel-header {
    align-items: center;
    background-color: var(--background-9);
    border-bottom: 1px solid #333;
    border-radius: var(--border-radius-2) var(--border-radius-2) 0 0;
    color: var(--color-1);
    flex-shrink: 0;
    overflow-x: auto;
    white-space: nowrap;
    padding: 3.75px 5px;
    gap: 10px;
    /* Espaciado entre los grupos */
}

/* Contenedor de los enlaces a la izquierda */
.panel-links {
    display: flex;
    gap: 10px;
    /* Espaciado entre los enlaces */
    align-items: center;
}

/* Contenedor de las acciones a la derecha */
.panel-actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

.gutter {
    background-color: var(--background-7);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

.panel-hidden .panel-content {
    display: none;
}

.panel-link {
    margin-right: 5px;
    text-decoration: none;
    background-color: transparent;
    color: var(--color-1);
    padding: 3.75px 5px;
    border-radius: var(--border-radius-1);
    transition: all 0.3s ease;
}

.panel-link:hover {
    background-color: rgba(255, 255, 255, 0.164);
    transition: all 0.3s ease;
}

.panel-header.icons-only {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    height: 100%;
    overflow-x: hidden;
}

.panel-header.icons-only .panel-link span {
    display: none;
}

.hidden {
    display: none;
}

/* Ajuste visual del input */
#input-view input {
    border: 1px solid var(--color-7);
    /* Borde inicial */
    border-radius: 5px;
    font-family: "Cascadia", sans-serif !important;
    font-size: 1rem;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: var(--color-1);
    background-color: var(--background-9);
    transition: all 0.3s ease;
}

/* Estilo para cuando el input está enfocado */
#input-view input:focus {
    border: 1px solid var(--color-21);
    /* Cambia el borde a verde */
    outline: none;
    /* Elimina el contorno por defecto */
    transition: all 0.3s ease;
}

.button-loading {
    cursor: not-allowed;
    opacity: 0.7;
}

.button-loading .fa-spinner {
    animation: spin 1s linear infinite;
    /* Animación de giro */
}

/* Animación de giro */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Asegurar diseño en tablets */
@media (max-width: 1024px) {
    #container {
        flex-direction: column;
        height: auto;
    }

    #panel-left,
    #panel-top,
    #panel-bottom {
        min-height: 200px;
        width: 100%;
        margin: 10px 0px;
    }

    .editor-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

#assistant-container {
    user-select: none;
}

/* Contenedor del asistente */
.assistant-container {
    position: fixed;
    bottom: 25vh;
    right: 25px;

    width: 121px;
    height: 150px;

    z-index: 100;
    display: inline-flex;
    cursor: grab; /* Indicador de que es movible */
    transition: transform 0.2s ease-in-out;
}

/* Efecto de hover */
.assistant-container:hover {
    transform: scale(1.05);
    cursor: grab;
}

/* Imagen del asistente */
#assistant-image {
    height: 150px;
    width: auto;
    object-fit: cover;
    pointer-events: none;
    transition: transform 0.3s ease;
}

/* Burbuja de texto */
.assistant-text {
    color: var(--color-11);
    background-color: var(--background-1);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    padding: 10px;
    border-radius: var(--border-radius-2);
    margin-right: 10px;

    /* Posición arriba a la izquierda del robot */
    position: absolute;
    top: -50px; /* Ajusta según el tamaño */
    left: -375px;

    max-width: 350px;
    height: auto;

    /* Animación de crecimiento hacia arriba */
    transform-origin: bottom;
    animation: grow-up 0.3s ease-out;
}

@media (max-width: 540px) {
    .assistant-container {
        right: 10px;
    }

    .assistant-text {
        position: absolute;
        top: 150px;
        right: 10px;
        left: auto;

        width: 250px;
    }
}

.assistant-name {
    font-weight: bold;
    color: var(--color-2);
}

/* Animación para ocultar el asistente */
.hide-assistant {
    transform: translateX(100px); /* Mover a la derecha */
    opacity: 0; /* Hacerlo invisible */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Suavidad */
}

/* Animación para mostrar el asistente */
.show-assistant {
    transform: translateX(0); /* Volver a la posición inicial */
    opacity: 1; /* Totalmente visible */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Suavidad */
}

/* Animación de crecimiento */
@keyframes grow-up {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

.post_body {
    font-family: "Helvetica", sans-serif;
}

.exercise-card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.exercise-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.exercise-card.disabled {
    background: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
    pointer-events: none;
}

.exercise-card.disabled .status {
    color: #6c757d;
}

.exercise-card.completed {
    border-left: 5px solid var(--color-13);
}

.exercise-card.incomplete {
    border-left: 5px solid var(--color-20);
}

.exercise-title {
    font-size: 1.5rem;
    font-weight: bold;

}

.exercise-card p,
.exercise-card span {
    font-family: "Helvetica", sans-serif;
}

.bg-difficult-1 {
    background-color: var(--difficult-1) !important;
    color: var(--color-1);
}

.bg-difficult-2 {
    background-color: var(--difficult-2) !important;
    color: var(--color-11);
}

.bg-difficult-3 {
    background-color: var(--difficult-3) !important;
    color: var(--color-11);
}

.bg-difficult-4 {
    background-color: var(--difficult-4) !important;
    color: var(--color-1);
}

.bg-difficult-5 {
    background-color: var(--difficult-5) !important;
    color: var(--color-1);
}

.status {
    font-weight: bold;
}

.status.locked {
    color: var(--color-2);
}

.status.unlocked.incomplete {
    color: var(--color-20);
}

.status.unlocked {
    color: var(--color-13);
}

.calendar-container {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.completed, .incomplete {
    cursor: pointer;
}

.select-theme {
    background-color: transparent !important;
    border: none;
    transition: all 0.3s ease !important;
}

.select-theme:hover {
    background-color: rgba(255, 255, 255, 0.164) !important;
    transition: all 0.3s ease !important;
}

.select-theme option {
    font-family: "Cascadia", sans-serif !important;
    font-size: 14px;
    color: var(--color-1);
    background-color: var(--background-9);
    padding: 5px;
}

/* Tema personalizado para Tippy.js */
.tippy-box[data-theme~="custom-gradient"] {
    background: linear-gradient(90deg, var(--color-24), var(--color-23));
    color: white;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* Flecha personalizada */
.tippy-box[data-theme~="custom-gradient"] .tippy-arrow {
    color: var(--color-23);
}

.custom-swal-image {
    height: 200px;
    width: auto;
    object-fit: cover;
}

.show-password-container {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: end;

    cursor: pointer;
    background-color: var(--background-14);
    padding: 7.5px 10px;
    border-radius: 50%;
}

.show-password-container label {
    cursor: pointer;
    color: var(--color-11);
    transition: all 0.3s ease;
}

.show-password-container label:hover {
    color: var(--color-2);
}

.show-password {
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
    background-color: transparent;
}

.post-thumbnail {
    text-decoration: none;
}

.post-img-thumbnail {
    border-radius: var(--border-radius-2);
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
