/* resources/css/loader.css */

@keyframes blinkCursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typeAndDelete {

    0%,
    10% {
        width: 0;
    }

    45%,
    55% {
        width: 7.2em;
    }

    90%,
    100% {
        width: 0;
    }
}

.container-terminal-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: var(--background-7);
    display: none;
    opacity: 1;
    transition: opacity 1s ease;
}

.terminal-loader {
    border: 0.1em solid #333;
    background-color: #272822;
    color: #fff;
    font-family: "Courier New", Courier, monospace !important;
    font-size: 1em;
    padding: 1.5em 1em;
    width: 600px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2em;
    background-color: #202020;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
}

.terminal-controls {
    position: absolute;
    float: left;
}

.control {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 10px;
    cursor: pointer;
}

.control.close {
    background-color: #ff605c;
}

.control.minimize {
    background-color: #ffbd44;
}

.control.maximize {
    background-color: #00ca4e;
}

.terminal-title {
    font-family: roboto !important;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    color: #eee;
}

.text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid gray;
    animation: typeAndDelete 3s steps(11) infinite,
        blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.9em;
}

@media (max-width: 768px) {
    .terminal-loader {
        width: 90%;
    }

    .terminal-title span {
        display: none;
    }
}