* {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0;
}

html,
body {
    width: 100%;
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
    background: #f3f2f2;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    opacity: 0.85;
}

label {
    font-size: 12.5px;
    color: #000;
    opacity: 0.8;
    font-weight: 400;
}

form {
    padding: 40px 30px;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    width: 400px;
}

form h4 {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
}

form h4 span {
    color: black;
    font-weight: 700;
}

form p {
    line-height: 155%;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    opacity: 0.65;
    font-weight: 400;
    max-width: 200px;
    margin-bottom: 40px;
}

a.discrete {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    border-bottom: solid 1px rgba(0, 0, 0, 0);
    padding-bottom: 4px;
    margin-left: auto;
    font-weight: 300;
    transition: all 0.3s ease;
    margin-top: 40px;
}

a.discrete:hover {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

button {
    -webkit-appearance: none;
    width: auto;
    min-width: 100px;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
    margin-top: 5px;
    background-color: #0068B2;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
    border: none;
    transition: all 0.3s ease;
    outline: 0;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px #004679;
}

button:hover:active {
    transform: scale(0.99);
}

input {
    font-size: 16px;
    padding: 20px 0px;
    height: 56px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 280px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: #000;
    font-weight: 400;
    -webkit-appearance: none;
}

input:focus {
    border-bottom: solid 1px #F88F1F;
    outline: 0;
    box-shadow: 0 2px 6px -8px #004679;
}

.floating-label {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.floating-label label {
    position: absolute;
    top: calc(50% - 7px);
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;
    padding-left: 44px;
}

.floating-label input {
    width: calc(100% - 44px);
    margin-left: auto;
    display: flex;
}

.floating-label .icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 56px;
    width: 44px;
    display: flex;
}

.floating-label .icon svg {
    height: 30px;
    width: 30px;
    margin: auto;
    opacity: 0.15;
    transition: all 0.3s ease;
}

.floating-label .icon svg path {
    transition: all 0.3s ease;
}

.floating-label input:not(:-moz-placeholder-shown) {
    padding: 28px 0px 12px 0px;
}

.floating-label input:not(:-ms-input-placeholder) {
    padding: 28px 0px 12px 0px;
}

.floating-label input:not(:placeholder-shown) {
    padding: 28px 0px 12px 0px;
}

.floating-label input:not(:-moz-placeholder-shown)+label {
    transform: translateY(-22px);
    opacity: 0.7;
}

.floating-label input:not(:-ms-input-placeholder)+label {
    transform: translateY(-22px);
    opacity: 0.7;
}

.floating-label input:not(:placeholder-shown)+label {
    transform: translateY(-22px);
    opacity: 0.7;
}

.floating-label input:valid:not(:-moz-placeholder-shown)+label+.icon svg {
    opacity: 1;
}

.floating-label input:valid:not(:-ms-input-placeholder)+label+.icon svg {
    opacity: 1;
}

.floating-label input:valid:not(:placeholder-shown)+label+.icon svg {
    opacity: 1;
}

.floating-label input:valid:not(:-moz-placeholder-shown)+label+.icon svg path {
    fill: #F88F1F;
}

.floating-label input:valid:not(:-ms-input-placeholder)+label+.icon svg path {
    fill: #F88F1F;
}

.floating-label input:valid:not(:placeholder-shown)+label+.icon svg path {
    fill: #F88F1F;
}

.floating-label input:not(:valid):not(:focus)+label+.icon {
    -webkit-animation-name: shake-shake;
    animation-name: shake-shake;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

@-webkit-keyframes shake-shake {
    0% {
        transform: translateX(-3px);
    }

    20% {
        transform: translateX(3px);
    }

    40% {
        transform: translateX(-3px);
    }

    60% {
        transform: translateX(3px);
    }

    80% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes shake-shake {
    0% {
        transform: translateX(-3px);
    }

    20% {
        transform: translateX(3px);
    }

    40% {
        transform: translateX(-3px);
    }

    60% {
        transform: translateX(3px);
    }

    80% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0px);
    }
}

.session {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    margin-top: 15vh;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.12);
}

.left {
    width: 100%;
    height: 200px;
    background-image: url("https://www.ntrguadalajara.com/evidimg/2016-11-15_01-11-02___1872.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid #eee;
}

.left svg {
    height: 40px;
    width: auto;
    margin: 20px;
}

.fa-icon {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 20px;
    opacity: 0.15;
    transition: all 0.3s ease;
}

.floating-label input:valid:not(:-moz-placeholder-shown)+label+.fa-icon {
    opacity: 1;
}

.floating-label input:valid:not(:-ms-input-placeholder)+label+.fa-icon {
    opacity: 1;
}

.floating-label input:valid:not(:placeholder-shown)+label+.fa-icon {
    opacity: 1;
}

.floating-label input:valid:not(:-moz-placeholder-shown)+label+.fa-icon {
    color: #F88F1F;
}

.floating-label input:valid:not(:-ms-input-placeholder)+label+.fa-icon {
    color: #F88F1F;
}

.floating-label input:valid:not(:placeholder-shown)+label+.fa-icon {
    color: #F88F1F;
}

.footer-container {
    width: 90%;
    max-width: 800px;
    height: auto;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: right;
}

.footer-link {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin-left: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-link:hover {
    color: rgba(0, 0, 0, 0.9);
}

#loader {
    display: none;
    text-align: center;
    margin-top: 0px;
}

#responseOutput {
    display: none;
    background-color: #2e2e42;
    border: 1px solid #4b4b5b;
    border-radius: 0.25rem;
    padding: 10px;
    white-space: pre-wrap;
    font-family: monospace;
    overflow-x: auto;
    margin-top: 10px;
    color: #c3e88d;
}

.key {
    color: #70ddff;
}

.input-error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 45px;
}

/* Media Queries */
@media (min-width: 768px) {
    .session {
        flex-direction: row;
    }

    .left {
        width: 35%;
        height: auto;
        border-bottom: none;
        border-right: 2px solid #eee;
    }
}

@media (max-width: 480px) {

    form {
        width: 100%;
    }

    .floating-label input {
        font-size: 14px;
        padding-left: 40px;
    }

    .floating-label label {
        font-size: 11px;
    }

    button {
        font-size: 14px;
    }
}
